form {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
}

input {
    width: 481px;
    height: 38px;
    border-radius: 25px;
    background-color: #D9D9D9;
    text-align: center;
    color: black;
    border: none;
}

input:focus {
    outline: none;
}

button {
    width: 184px;
    height: 38px;
    border-radius: 20px;
    border: none;
    background-color: #6691FF;
    color: white;
    margin-top: 14px;
}